<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    
    <link name="april_tag_box_link">
		<visual>
			<geometry>
				<mesh filename="package://blimp_description/meshes/docking/cube_with_apriltags.dae" scale="0.2 0.2 0.2"/>
			</geometry>
		</visual>
	    <inertial>
			<mass value = "0.01"/>
	      <inertia ixx="0.0004" ixy="0" ixz="0" iyy="0.0004" iyz="0" izz="0.0004"/>
	    </inertial>
	</link>


	<joint name="apriltag_cube_joint" type="revolute">
	   <parent link="base_link"/>
	   <child link="april_tag_box_link"/>
       <origin xyz="1 0 -0.3" rpy="0 0 0"/>
       <limit effort="0" velocity="0" lower="0" upper="0"/> 
	</joint>


<link name="led_link_0"></link><!--it is useless to define light tag here, it helps to define light tag in gazebo tag below-->
<link name="led_link_1"></link><!--it is useless to define light tag here, it helps to define light tag in gazebo tag below-->
<link name="led_link_2"></link><!--it is useless to define light tag here, it helps to define light tag in gazebo tag below-->
<link name="led_link_3"></link><!--it is useless to define light tag here, it helps to define light tag in gazebo tag below-->
<link name="led_link_4"></link><!--it is useless to define light tag here, it helps to define light tag in gazebo tag below-->

<joint name="led_joint_0" type="fixed"> <origin xyz="0 0 0" rpy="0 0 0"/> <parent link="april_tag_box_link"/> <child link="led_link_0"/> </joint>
<joint name="led_joint_1" type="fixed"> <origin xyz="0 0 0" rpy="0 0 0"/> <parent link="april_tag_box_link"/> <child link="led_link_1"/> </joint>
<joint name="led_joint_2" type="fixed"> <origin xyz="0 0 0" rpy="0 0 0"/> <parent link="april_tag_box_link"/> <child link="led_link_2"/> </joint>
<joint name="led_joint_3" type="fixed"> <origin xyz="0 0 0" rpy="0 0 0"/> <parent link="april_tag_box_link"/> <child link="led_link_3"/> </joint>
<joint name="led_joint_4" type="fixed"> <origin xyz="0 0 0" rpy="0 0 0"/> <parent link="april_tag_box_link"/> <child link="led_link_4"/> </joint>

<gazebo reference="led_link_0">
  <visual>
    <material>
      <ambient>0 0 0 1</ambient>
      <diffuse>0 0 0 1</diffuse>
      <specular>0 0 0 1</specular>
      <emissive>0 1 0 1</emissive>
    </material>
  </visual>
  <light name ='led_link_0/led' type = 'point'>
    <pose>0 0.5 0 0 0 0</pose><!--you can place light position here ,and it is useless to give position in link-->
  </light>
  <plugin name='light_control' filename='libFlashLightPlugin.so'>
  <enable>true</enable>
  <light>
    <id>led_link_0/led</id>
    <duration>0.3</duration>
    <interval>0.4</interval>
    <color>0.1 1 0.1</color>
    <enable>true</enable>
  </light>
  </plugin>
</gazebo>

<gazebo reference="led_link_1">
  <visual>
    <material>
      <ambient>0 0 0 1</ambient>
      <diffuse>0 0 0 1</diffuse>
      <specular>0 0 0 1</specular>
      <emissive>0 1 0 1</emissive>
    </material>
  </visual>
  <light name ='led_link_1/led' type = 'point'>
    <pose>0 -0.5 0 0 0 0</pose><!--you can place light position here ,and it is useless to give position in link-->
  </light>
  <plugin name='light_control' filename='libFlashLightPlugin.so'>
  <enable>true</enable>
  <light>
    <id>led_link_1/led</id>
    <duration>0.3</duration>
    <interval>0.4</interval>
    <color>0.1 1 0.1</color>
    <enable>true</enable>
  </light>
  </plugin>
</gazebo>

<gazebo reference="led_link_2">
  <visual>
    <material>
      <ambient>0 0 0 1</ambient>
      <diffuse>0 0 0 1</diffuse>
      <specular>0 0 0 1</specular>
      <emissive>0 1 0 1</emissive>
    </material>
  </visual>
  <light name ='led_link_2/led' type = 'point'>
    <pose>0.5 0 0 0 0 0</pose><!--you can place light position here ,and it is useless to give position in link-->
  </light>
  <plugin name='light_control' filename='libFlashLightPlugin.so'>
  <enable>true</enable>
  <light>
    <id>led_link_2/led</id>
    <duration>0.3</duration>
    <interval>0.4</interval>
    <color>0.1 1 0.1</color>
    <enable>true</enable>
  </light>
  </plugin>
</gazebo>

<gazebo reference="led_link_3">
  <visual>
    <material>
      <ambient>0 0 0 1</ambient>
      <diffuse>0 0 0 1</diffuse>
      <specular>0 0 0 1</specular>
      <emissive>0 1 0 1</emissive>
    </material>
  </visual>
  <light name ='led_link_3/led' type = 'point'>
    <pose>-0.5 0 0 0 0 0</pose><!--you can place light position here ,and it is useless to give position in link-->
  </light>
  <plugin name='light_control' filename='libFlashLightPlugin.so'>
  <enable>true</enable>
  <light>
    <id>led_link_3/led</id>
    <duration>0.3</duration>
    <interval>0.4</interval>
    <color>0.1 1 0.1</color>
    <enable>true</enable>
  </light>
  </plugin>
</gazebo>

<gazebo reference="led_link_4">
  <visual>
    <material>
      <ambient>0 0 0 1</ambient>
      <diffuse>0 0 0 1</diffuse>
      <specular>0 0 0 1</specular>
      <emissive>0 1 0 1</emissive>
    </material>
  </visual>
  <light name ='led_link_4/led' type = 'point'>
    <pose>0 0 -0.5 0 0 0</pose><!--you can place light position here ,and it is useless to give position in link-->
  </light>
  <plugin name='light_control' filename='libFlashLightPlugin.so'>
  <enable>true</enable>
  <light>
    <id>led_link_4/led</id>
    <duration>0.3</duration>
    <interval>0.4</interval>
    <color>0.1 1 0.1</color>
    <enable>true</enable>
  </light>
  </plugin>
</gazebo>

</robot>