<?xml version="1.0" ?>
<robot name="blimp" xmlns:xacro="http://ros.org/wiki/xacro">
	<!--*****************  component description  *****************-->
	<xacro:include filename="$(find blimp_description)/urdf/plugin_control.xacro" />
	<xacro:include filename="$(find blimp_description)/urdf/plugin_sensors.xacro" />
	<xacro:include filename="$(find blimp_description)/urdf/plugin_physics.xacro" />

	<!--*****************  property description  *****************-->
	<xacro:include filename="$(find blimp_description)/urdf/description_property.xacro"/>

	<!--*****************  mechanics description	 *****************-->
	<xacro:include filename="$(find blimp_description)/urdf/model_xacro.xacro" />
	<xacro:include filename="$(find blimp_description)/urdf/description_link.xacro"/>

	<!--*****************  controller description  *****************-->
	<xacro:include filename="$(find blimp_description)/urdf/description_controller.xacro"/>

	<!--*****************  sensor description  *****************-->
	<xacro:include filename="$(find blimp_description)/urdf/description_sensor.xacro"/>

	<!--*****************  physics and extra plugins description  *****************-->
	<!-- <xacro:include filename="$(find blimp_description)/urdf/plugin_component_snippets.xacro"/> -->
	<xacro:include filename="$(find blimp_description)/urdf/description_plugin.xacro"/>



	<!-- **********************Additional box for reference in docking**************************** -->

    <material name="blue">
       <color rgba= "0 0 1 0.5"/>
    </material>

	<link name="docking_link">

		<visual>
			<geometry>
				<box size="0.50 0.50 0.50"/>
			</geometry>

		</visual>
	    <inertial>
			<mass value = "0.01"/>
	      <inertia ixx="0.0004" ixy="0" ixz="0" iyy="0.0004" iyz="0" izz="0.0004"/>
	    </inertial>

	</link>

	<joint name="box_joint" type="revolute">
	   <parent link="base_link"/>
	   <child link="docking_link"/>
       <origin xyz="0 0 -0.5" rpy="0 0 0"/>
       <limit effort="0" velocity="0" lower="0" upper="0"/>

	</joint>

			<gazebo reference="docking_link">
			   <material>Gazebo/GreenTransparent</material>
			</gazebo>
	
</robot>
