<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <link name="camera_link_optical">
        <inertial>
			<mass value = "0.01"/>
	        <inertia ixx="0.0004" ixy="0" ixz="0" iyy="0.0004" iyz="0" izz="0.0004"/>
	    </inertial>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
            <box size="0.01 0.01 0.01"/>
            </geometry>
        </collision>

    </link>

    <gazebo reference="camera_link_optical">
        <material>Gazebo/Red</material>

        <sensor name="myCamera" type="camera">
            <pose> 0 0 0 0 0 1.5707 </pose>
            <visualize>true</visualize>
            <update_rate>30</update_rate>
            <camera>
                <horizontal_fov>1.20428</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <!-- specifications of anafi 4K -->
                    <width>3840</width>
                    <height>2160</height>
                </image>
                <clip>
                    <near>0.09</near>
                    <far>100</far>
                </clip>
            </camera>
            <always_on>true</always_on>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>/camera_link_optical</frame_name>    
                <frameName>/camera_link_optical</frameName>            
            </plugin>
        </sensor>
    </gazebo>

</robot>