<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<!-- wind -->
	<xacro:if value="$(arg enable_wind)">
		<xacro:wind_plugin_macro
			namespace="${namespace}"
			linkname="${namespace}/blimp_body_link"
			xyz_offset="0 0 0"
			wind_direction_mean="0 0 0" 
			wind_direction_variance="9.8596"
			wind_force_mean="5" 
			wind_force_variance="10"
			wind_gust_direction_mean="0 0 0"
			wind_gust_direction_variance="9.8596"
			wind_gust_duration="2"
			wind_gust_start="0"
			wind_gust_force_mean="20"
			wind_speed_mean="7 7 7"
			wind_speed_variance="0"
			use_custom_static_wind_field="false"
			custom_wind_field_path="~/blimp_simulator/blimp_description/worlds/wind_field.txt"> 
		</xacro:wind_plugin_macro>
	</xacro:if>

	<!-- aerodynamic -->
	<xacro:if value="$(arg enable_physics)">
		<xacro:property name="body_lift_liftdrag_upward">
			<upward>0 1 0</upward> 
		</xacro:property>
		<xacro:property name="body_lift_liftdrag_forward">
			<forward>1 0 0</forward>  
		</xacro:property>
		<xacro:property name="body_lift_liftdrag_cp">
			<cp>0 0 0</cp>
		</xacro:property>
		<xacro:property name="bot_fin_liftdrag_upward">
			<upward>0 -1 0</upward>
		</xacro:property>
		<xacro:property name="bot_fin_liftdrag_forward">
			<forward>1 0 0</forward>
		</xacro:property>
		<xacro:property name="bot_fin_liftdrag_cp">
			<cp>0 0 0</cp>
		</xacro:property>
		<xacro:property name="top_fin_liftdrag_upward">
			<upward>0 1 0</upward>
		</xacro:property>
		<xacro:property name="top_fin_liftdrag_forward">
			<forward>1 0 0</forward>
		</xacro:property>
		<xacro:property name="top_fin_liftdrag_cp">
			<cp>0 0 0</cp>
		</xacro:property>
		<xacro:property name="left_fin_liftdrag_upward">
			<upward>0 1 0</upward> 
		</xacro:property>
		<xacro:property name="left_fin_liftdrag_forward">
			<forward>1 0 0</forward>  
		</xacro:property>
		<xacro:property name="left_fin_liftdrag_cp">
			<cp>0 0 0</cp>
		</xacro:property>
		<xacro:property name="right_fin_liftdrag_upward">
			<upward>0 -1 0</upward> 
		</xacro:property>
		<xacro:property name="right_fin_liftdrag_forward">
			<forward>1 0 0</forward> 
		</xacro:property>
		<xacro:property name="right_fin_liftdrag_cp">
			<cp>0 0 0</cp>
		</xacro:property>
		<xacro:property name="bot_rud_liftdrag_upward">
			<upward>0 -1 0</upward>
		</xacro:property>
		<xacro:property name="bot_rud_liftdrag_forward">
			<forward>1 0 0</forward>
		</xacro:property>
		<xacro:property name="bot_rud_liftdrag_cp">
			<cp>0 0 0</cp>
		</xacro:property>
		<xacro:property name="top_rud_liftdrag_upward">
			<upward>0 1 0</upward>
		</xacro:property>
		<xacro:property name="top_rud_liftdrag_forward">
			<forward>1 0 0</forward>
		</xacro:property>
		<xacro:property name="top_rud_liftdrag_cp">
			<cp>0 0 0</cp>
		</xacro:property>
		<xacro:property name="left_elv_liftdrag_upward">
			<upward>0 1 0</upward> 
		</xacro:property>
		<xacro:property name="left_elv_liftdrag_forward">
			<forward>1 0 0</forward>  
		</xacro:property>
		<xacro:property name="left_elv_liftdrag_cp">
			<cp>0 0 0</cp>
		</xacro:property>
		<xacro:property name="right_elv_liftdrag_upward">
			<upward>0 -1 0</upward> 
		</xacro:property>
		<xacro:property name="right_elv_liftdrag_forward">
			<forward>1 0 0</forward> 
		</xacro:property>
		<xacro:property name="right_elv_liftdrag_cp">
			<cp>0 0 0</cp>
		</xacro:property>
		<xacro:liftdrag
			namespace="${namespace}"
			link_name="${namespace}/forward_lift_joint_link"
			air_density="${air_density}"
			body_lift="true"
			stall_angle="45"
			area="${area_body_lift}">
			<xacro:insert_block name="body_lift_liftdrag_upward" />
			<xacro:insert_block name="body_lift_liftdrag_forward" />
			<xacro:insert_block name="body_lift_liftdrag_cp" />
		</xacro:liftdrag>
		<xacro:liftdrag
			namespace="${namespace}"
			link_name="${namespace}/aft_lift_joint_link"
			air_density="${air_density}"
			body_lift="true"
			stall_angle="45"
			area="${area_body_lift}">
			<xacro:insert_block name="body_lift_liftdrag_upward" />
			<xacro:insert_block name="body_lift_liftdrag_forward" />
			<xacro:insert_block name="body_lift_liftdrag_cp" />
		</xacro:liftdrag>
		<xacro:liftdrag
			namespace="${namespace}"
			link_name="${namespace}/bot_rud_part1_link"
			air_density="${air_density}"
			body_lift="false"
			stall_angle="45"
			area="${area_fin}">
			<xacro:insert_block name="bot_fin_liftdrag_upward" />
			<xacro:insert_block name="bot_fin_liftdrag_forward" />
			<xacro:insert_block name="bot_fin_liftdrag_cp" />
		</xacro:liftdrag>
		<xacro:liftdrag
			namespace="${namespace}"
			link_name="${namespace}/top_rud_part1_link"
			air_density="${air_density}"
			body_lift="false"
			stall_angle="45"
			area="${area_fin}">
			<xacro:insert_block name="top_fin_liftdrag_upward" />
			<xacro:insert_block name="top_fin_liftdrag_forward" />
			<xacro:insert_block name="top_fin_liftdrag_cp" />
		</xacro:liftdrag>
		<xacro:liftdrag
			namespace="${namespace}"
			link_name="${namespace}/left_elv_part1_link"
			air_density="${air_density}"
			body_lift="false"
			stall_angle="45"
			area="${area_fin}">
			<xacro:insert_block name="left_fin_liftdrag_upward" />
			<xacro:insert_block name="left_fin_liftdrag_forward" />
			<xacro:insert_block name="left_fin_liftdrag_cp" />
		</xacro:liftdrag>
		<xacro:liftdrag
			namespace="${namespace}"
			link_name="${namespace}/right_elv_part1_link"
			air_density="${air_density}"
			body_lift="false"
			stall_angle="45"
			area="${area_fin}">
			<xacro:insert_block name="right_fin_liftdrag_upward" />
			<xacro:insert_block name="right_fin_liftdrag_forward" />
			<xacro:insert_block name="right_fin_liftdrag_cp" />
		</xacro:liftdrag> 
		<xacro:liftdrag
			namespace="${namespace}"
			link_name="${namespace}/bot_rud_joint_link"
			air_density="${air_density}"
			body_lift="false"
			stall_angle="45"
			area="${area_rudder}">
			<xacro:insert_block name="bot_rud_liftdrag_upward" />
			<xacro:insert_block name="bot_rud_liftdrag_forward" />
			<xacro:insert_block name="bot_rud_liftdrag_cp" />
		</xacro:liftdrag>
		<xacro:finliftdrag
			namespace="${namespace}"
			link_name="${namespace}/top_rud_joint_link"
			air_density="${air_density}"
			body_lift="false"
			stall_angle="45"
			area="${area_rudder}">
			<xacro:insert_block name="top_rud_liftdrag_upward" />
			<xacro:insert_block name="top_rud_liftdrag_forward" />
			<xacro:insert_block name="top_rud_liftdrag_cp" />
		</xacro:finliftdrag>
		<xacro:liftdrag
			namespace="${namespace}"
			link_name="${namespace}/left_elv_joint_link"
			air_density="${air_density}"
			body_lift="false"
			stall_angle="45"
			area="${area_rudder}">
			<xacro:insert_block name="left_elv_liftdrag_upward" />
			<xacro:insert_block name="left_elv_liftdrag_forward" />
			<xacro:insert_block name="left_elv_liftdrag_cp" />
		</xacro:liftdrag>
		<xacro:liftdrag
			namespace="${namespace}"
			link_name="${namespace}/right_elv_joint_link"
			air_density="${air_density}"
			body_lift="false"
			stall_angle="45"
			area="${area_rudder}">
			<xacro:insert_block name="right_elv_liftdrag_upward" />
			<xacro:insert_block name="right_elv_liftdrag_forward" />
			<xacro:insert_block name="right_elv_liftdrag_cp" />
		</xacro:liftdrag> 
	</xacro:if>

	<!-- buoyancy -->
	<xacro:if value="$(arg enable_physics)">
		<xacro:dynamic_volume
			namespace="${namespace}"
			linkname="${namespace}/blimp_body_link"
			dynamicvolumetopic="dynamicvolumetopic"
			reference_altitude="341.0"/>
	</xacro:if>

	<!-- logger -->
	<xacro:if value="$(arg enable_logging)">
	   <xacro:bag_plugin_macro
	      namespace="${namespace}"
	      bag_file="$(arg log_file)"
	      rotor_velocity_slowdown_sim="${rotor_velocity_slowdown_sim}"
	      wait_to_record_bag="$(arg wait_to_record_bag)" />
	</xacro:if>

</robot>
