<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<!-- wind -->
	<!-- <xacro:if value="$(arg enable_wind)">
		<xacro:wind_gust_plugin_macro
			namespace="${namespace}"
			linkname="blimp_body_link"
			wind_direction="-1 0 0" 
			wind_speed_mean="0.9"
			wind_gust_duration="5"
			wind_gust_force_mean="100"
			use_custom_static_wind_field="false"
			custom_wind_field_path="~/blimp_simulator/blimp_description/worlds/wind_field.txt"> 
		</xacro:wind_gust_plugin_macro>
	</xacro:if> -->


 
			<!-- <max_gust_velocity="7" >
			<gust_direction="-1 0 0"  >
			<gust_duration="10" >
			<gust_occurence_interval_mean="1" >
			<gust_occurence_interval_std="1" > -->


	<xacro:if value="$(arg enable_wind)">
		<!-- ATTENTION -->
		<!-- UNIFORM DISTRIBUTION FOR GUST DIRECTION: Current implementation of gust direction uses mean as a value and std as delta value added in positive and negative direction to define limit bounds. -->
		<xacro:wind_plugin_macro
			namespace="${namespace}"
			linkname="blimp_body_link"
			wind_direction_mean="-1 0 0" 
			wind_speed_mean="0"
			wind_turbulence_level="0"
			use_custom_static_wind_field="false"
			custom_wind_field_path="~/blimp_simulator/blimp_description/worlds/wind_field.txt"
			max_gust_velocity="3" 
			gust_direction_mean="0 0 0"
			gust_direction_std="3 3 3"
			gust_duration="4" 
			gust_occurence_interval_mean="50" 
			gust_occurence_interval_std="0" >
		</xacro:wind_plugin_macro>
	</xacro:if>

	<!-- aerodynamic -->
	<xacro:if value="$(arg enable_physics)">
		<xacro:property name="body_lift_liftdrag_upward">
			<upward>0 1 0</upward> 
		</xacro:property>
		<xacro:property name="body_lift_liftdrag_forward">
			<forward>1 0 0</forward>  
		</xacro:property>
		<xacro:property name="body_lift_liftdrag_cp">
			<cp>0 0 0</cp>
		</xacro:property>
		<xacro:property name="bot_fin_liftdrag_upward">
			<upward>0 -1 0</upward>
		</xacro:property>
		<xacro:property name="bot_fin_liftdrag_forward">
			<forward>1 0 0</forward>
		</xacro:property>
		<xacro:property name="bot_fin_liftdrag_cp">
			<cp>0 0 0</cp>
		</xacro:property>
		<xacro:property name="top_fin_liftdrag_upward">
			<upward>0 1 0</upward>
		</xacro:property>
		<xacro:property name="top_fin_liftdrag_forward">
			<forward>1 0 0</forward>
		</xacro:property>
		<xacro:property name="top_fin_liftdrag_cp">
			<cp>0 0 0</cp>
		</xacro:property>
		<xacro:property name="left_fin_liftdrag_upward">
			<upward>0 1 0</upward> 
		</xacro:property>
		<xacro:property name="left_fin_liftdrag_forward">
			<forward>1 0 0</forward>  
		</xacro:property>
		<xacro:property name="left_fin_liftdrag_cp">
			<cp>0 0 0</cp>
		</xacro:property>
		<xacro:property name="right_fin_liftdrag_upward">
			<upward>0 -1 0</upward> 
		</xacro:property>
		<xacro:property name="right_fin_liftdrag_forward">
			<forward>1 0 0</forward> 
		</xacro:property>
		<xacro:property name="right_fin_liftdrag_cp">
			<cp>0 0 0</cp>
		</xacro:property>
		<xacro:property name="bot_rud_liftdrag_upward">
			<upward>0 -1 0</upward>
		</xacro:property>
		<xacro:property name="bot_rud_liftdrag_forward">
			<forward>1 0 0</forward>
		</xacro:property>
		<xacro:property name="bot_rud_liftdrag_cp">
			<cp>0 0 0</cp>
		</xacro:property>
		<xacro:property name="top_rud_liftdrag_upward">
			<upward>0 1 0</upward>
		</xacro:property>
		<xacro:property name="top_rud_liftdrag_forward">
			<forward>1 0 0</forward>
		</xacro:property>
		<xacro:property name="top_rud_liftdrag_cp">
			<cp>0 0 0</cp>
		</xacro:property>
		<xacro:property name="left_elv_liftdrag_upward">
			<upward>0 1 0</upward> 
		</xacro:property>
		<xacro:property name="left_elv_liftdrag_forward">
			<forward>1 0 0</forward>  
		</xacro:property>
		<xacro:property name="left_elv_liftdrag_cp">
			<cp>0 0 0</cp>
		</xacro:property>
		<xacro:property name="right_elv_liftdrag_upward">
			<upward>0 -1 0</upward> 
		</xacro:property>
		<xacro:property name="right_elv_liftdrag_forward">
			<forward>1 0 0</forward> 
		</xacro:property>
		<xacro:property name="right_elv_liftdrag_cp">
			<cp>0 0 0</cp>
		</xacro:property>
		<xacro:finliftdrag
			namespace="${namespace}"
			link_name="forward_lift_joint_link"
			air_density="${air_density}"
			body_lift="true"
			stall_angle="22"
			cw0="${(area_body_front/(area_body_lift/2)) * 0.04}"
			cw1="0.6"
			cw2="1.2"
			cl0="0"
			cl1="1.2"
			cl2="0"
			area="${area_body_lift/2}">
			<xacro:insert_block name="body_lift_liftdrag_upward" />
			<xacro:insert_block name="body_lift_liftdrag_forward" />
			<xacro:insert_block name="body_lift_liftdrag_cp" />
		</xacro:finliftdrag>
		<xacro:finliftdrag
			namespace="${namespace}"
			link_name="aft_lift_joint_link"
			air_density="${air_density}"
			body_lift="true"
			stall_angle="22"
			cw0="0"
			cw1="0.6"
			cw2="1.2"
			cl0="0"
			cl1="1.2"
			cl2="0"
			area="${area_body_lift/2}">
			<xacro:insert_block name="body_lift_liftdrag_upward" />
			<xacro:insert_block name="body_lift_liftdrag_forward" />
			<xacro:insert_block name="body_lift_liftdrag_cp" />
		</xacro:finliftdrag>
		<xacro:finliftdrag
			namespace="${namespace}"
			link_name="bot_rud_part1_link"
			air_density="${air_density}"
			body_lift="false"
			stall_angle="22"
			cw0="${(area_fin_front/area_fin) * 1.2}"
			cw1="${((area_fin_front/area_fin) * 1.2 + 1.2 ) * 0.5 }"
			cw2="1.2"
			cl0="0"
			cl1="0.6"
			cl2="0"
			area="${area_fin}">
			<xacro:insert_block name="bot_fin_liftdrag_upward" />
			<xacro:insert_block name="bot_fin_liftdrag_forward" />
			<xacro:insert_block name="bot_fin_liftdrag_cp" />
		</xacro:finliftdrag>
		<xacro:finliftdrag
			namespace="${namespace}"
			link_name="top_rud_part1_link"
			air_density="${air_density}"
			body_lift="false"
			stall_angle="22"
			cw0="${(area_fin_front/area_fin) * 1.2}"
			cw1="${((area_fin_front/area_fin) * 1.2 + 1.2 ) * 0.5 }"
			cw2="1.2"
			cl0="0"
			cl1="0.6"
                        cl2="0"
                        enable_airspeed_topic="1"
                        airspeed_topic="tail/indicatedAirspeed"
			area="${area_fin}">
			<xacro:insert_block name="top_fin_liftdrag_upward" />
			<xacro:insert_block name="top_fin_liftdrag_forward" />
			<xacro:insert_block name="top_fin_liftdrag_cp" />
		</xacro:finliftdrag>
		<xacro:finliftdrag
			namespace="${namespace}"
			link_name="left_elv_part1_link"
			air_density="${air_density}"
			body_lift="false"
			stall_angle="22"
			cw0="${(area_fin_front/area_fin) * 1.2}"
			cw1="${((area_fin_front/area_fin) * 1.2 + 1.2 ) * 0.5 }"
			cw2="1.2"
			cl0="0"
			cl1="0.6"
			cl2="0"
			area="${area_fin}">
			<xacro:insert_block name="left_fin_liftdrag_upward" />
			<xacro:insert_block name="left_fin_liftdrag_forward" />
			<xacro:insert_block name="left_fin_liftdrag_cp" />
		</xacro:finliftdrag>
		<xacro:finliftdrag
			namespace="${namespace}"
			link_name="right_elv_part1_link"
			air_density="${air_density}"
			body_lift="false"
			stall_angle="22"
			cw0="${(area_fin_front/area_fin) * 1.2}"
			cw1="${((area_fin_front/area_fin) * 1.2 + 1.2 ) * 0.5 }"
			cw2="1.2"
			cl0="0"
			cl1="0.6"
			cl2="0"
			area="${area_fin}">
			<xacro:insert_block name="right_fin_liftdrag_upward" />
			<xacro:insert_block name="right_fin_liftdrag_forward" />
			<xacro:insert_block name="right_fin_liftdrag_cp" />
		</xacro:finliftdrag> 
		<xacro:finliftdrag
			namespace="${namespace}"
			link_name="bot_rud_joint_link"
			air_density="${air_density}"
			body_lift="false"
			stall_angle="22"
			cw0="0"
			cw1="0.6"
			cw2="1.2"
			cl0="0"
			cl1="2.0"
			cl2="0"
			area="${area_rudder}">
			<xacro:insert_block name="bot_rud_liftdrag_upward" />
			<xacro:insert_block name="bot_rud_liftdrag_forward" />
			<xacro:insert_block name="bot_rud_liftdrag_cp" />
		</xacro:finliftdrag>
		<xacro:finliftdrag
			namespace="${namespace}"
			link_name="top_rud_joint_link"
			air_density="${air_density}"
			body_lift="false"
			stall_angle="22"
			cw0="0"
			cw1="0.6"
			cw2="1.2"
			cl0="0"
			cl1="2.0"
			cl2="0"
			area="${area_rudder}">
			<xacro:insert_block name="top_rud_liftdrag_upward" />
			<xacro:insert_block name="top_rud_liftdrag_forward" />
			<xacro:insert_block name="top_rud_liftdrag_cp" />
		</xacro:finliftdrag>
		<xacro:finliftdrag
			namespace="${namespace}"
			link_name="left_elv_joint_link"
			air_density="${air_density}"
			body_lift="false"
			stall_angle="22"
			cw0="0"
			cw1="0.6"
			cw2="1.2"
			cl0="0"
			cl1="2.0"
			cl2="0"
			area="${area_rudder}">
			<xacro:insert_block name="left_elv_liftdrag_upward" />
			<xacro:insert_block name="left_elv_liftdrag_forward" />
			<xacro:insert_block name="left_elv_liftdrag_cp" />
		</xacro:finliftdrag>
		<xacro:finliftdrag
			namespace="${namespace}"
			link_name="right_elv_joint_link"
			air_density="${air_density}"
			body_lift="false"
			stall_angle="22"
			cw0="0"
			cw1="0.6"
			cw2="1.2"
			cl0="0"
			cl1="2.0"
			cl2="0"
			area="${area_rudder}">
			<xacro:insert_block name="right_elv_liftdrag_upward" />
			<xacro:insert_block name="right_elv_liftdrag_forward" />
			<xacro:insert_block name="right_elv_liftdrag_cp" />
		</xacro:finliftdrag> 
	</xacro:if>

	<!-- buoyancy -->
	<xacro:if value="$(arg enable_physics)">
		<xacro:dynamic_volume
			namespace="${namespace}"
			linkname="blimp_body_link"
			dynamicvolumetopic="dynamicvolumetopic"
                        heliummasstopic="heliummasstopic"
                        heliummass="1.723"
			reference_altitude="341.0"/>
	</xacro:if>

	<!-- logger -->
	<xacro:if value="$(arg enable_logging)">
	   <xacro:bag_plugin_macro
	      namespace="${namespace}"
	      bag_file="$(arg log_file)"
	      rotor_velocity_slowdown_sim="${rotor_velocity_slowdown_sim}"
	      wait_to_record_bag="$(arg wait_to_record_bag)" />
	</xacro:if>

</robot>
