<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    




    <link name="docking_port_link">
		<visual>
			<geometry>
				<mesh filename="$(find blimp_description)/meshes/docking/simple_dp_with_tags_mesh/simple_dp_with_tags.dae" scale="1 1 1"/>
			</geometry>
		</visual>
	    <inertial>
			<mass value = "0.4"/>
	      <inertia ixx="0.004" ixy="0" ixz="0" iyy="0.0002" iyz="0.002" izz="0.0003"/>
	    </inertial>
	</link>


	<joint name="docking_port_joint" type="revolute">
	   <parent link="base_link"/>
	   <child link="docking_port_link"/>
       <origin xyz="0 0 -0.36" rpy="0 0 0"/>
       <limit effort="0" velocity="0" lower="0" upper="0"/> 
	</joint>

  <link name="docking_port_fc_link">
    <visual>
			<geometry>
				<box size="0.05 0.05 0.025"/>
			</geometry>
		</visual>
	    <inertial>
			<mass value = "0.01"/>
	      <inertia ixx="0.0004" ixy="0" ixz="0" iyy="0.0004" iyz="0" izz="0.0004"/>
	    </inertial>
	</link>


	<joint name="docking_port_fc_joint" type="revolute">
	   <parent link="docking_port_link"/>
	   <child link="docking_port_fc_link"/>
       <origin xyz="0.0 0 0.272" rpy="0 0 0"/>
       <limit effort="0" velocity="0" lower="0" upper="0"/> 
	</joint>

  <xacro:imu_plugin_macro
      namespace="docking_port"
      imu_suffix="docking_port_fc"
      parent_link="docking_port_fc_link"
      imu_topic="imu"
      mass_imu_sensor="0.00001"
      gyroscope_noise_density="0.0"
      gyroscope_random_walk="0.0"
      gyroscope_bias_correlation_time="1000.0"
      gyroscope_turn_on_bias_sigma="0.0"
      accelerometer_noise_density="0.0"
      accelerometer_random_walk="0.0"
      accelerometer_bias_correlation_time="300.0"
      accelerometer_turn_on_bias_sigma="0.0">
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:imu_plugin_macro>

      <!-- Odometry Sensor -->
      <xacro:odometry_plugin_macro
        namespace="dockingport_fc"
        odometry_sensor_suffix=""
        parent_link="docking_port_fc_link"
        pose_topic="odom_pose"
        pose_with_covariance_topic="pose_with_covariance"
        position_topic="odom_position"
        transform_topic="odom_transform"
        odometry_topic="odometry"
        parent_frame_id="world"
        child_frame_id="dockingport_fc"
        mass_odometry_sensor="0.01"
        measurement_divisor="1"
        measurement_delay="0"
        unknown_delay="0.0"
        noise_normal_position="0 0 0"
        noise_normal_quaternion="0 0 0"
        noise_normal_linear_velocity="0 0 0"
        noise_normal_angular_velocity="0 0 0"
        noise_uniform_position="0 0 0"
        noise_uniform_quaternion="0 0 0"
        noise_uniform_linear_velocity="0 0 0"
        noise_uniform_angular_velocity="0 0 0"
        enable_odometry_map="false"
        odometry_map=""
        image_scale="">
        <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" /> <!-- [kg m^2] [kg m^2] [kg m^2] [kg m^2] [kg m^2] [kg m^2] -->
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      </xacro:odometry_plugin_macro>


        <xacro:odometry_plugin_macro
        namespace="dockingport_fc_gt"
        odometry_sensor_suffix="_gt"
        parent_link="docking_port_fc_link"
        pose_topic="odom_pose_gt"
        pose_with_covariance_topic="pose_with_covariance_gt"
        position_topic="odom_position_gt"
        transform_topic="odom_transform_gt"
        odometry_topic="odometry_gt"
        parent_frame_id="world"
        child_frame_id="dockingport_fc_gt"
        mass_odometry_sensor="0.01"
        measurement_divisor="1"
        measurement_delay="0"
        unknown_delay="0.0"
        noise_normal_position="0 0 0"
        noise_normal_quaternion="0 0 0"
        noise_normal_linear_velocity="0 0 0"
        noise_normal_angular_velocity="0 0 0"
        noise_uniform_position="0 0 0"
        noise_uniform_quaternion="0 0 0"
        noise_uniform_linear_velocity="0 0 0"
        noise_uniform_angular_velocity="0 0 0"
        enable_odometry_map="false"
        odometry_map=""
        image_scale="">
        <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" /> <!-- [kg m^2] [kg m^2] [kg m^2] [kg m^2] [kg m^2] [kg m^2] -->
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      </xacro:odometry_plugin_macro>

  <link name="approach_target_link">
		<!-- <visual>
			<geometry>
				<box size="0.50 0.50 0.20"/>
			</geometry>
		</visual> -->
	    <inertial>
			<mass value = "0.01"/>
	      <inertia ixx="0.0004" ixy="0" ixz="0" iyy="0.0004" iyz="0" izz="0.0004"/>
	    </inertial>
	</link>

	<joint name="approach_target_joint" type="revolute">
	   <parent link="docking_port_link"/>
	   <child link="approach_target_link"/>
       <origin xyz="0 0 -0.3" rpy="0 0 0"/>
       <limit effort="0" velocity="0" lower="0" upper="0"/> 
	</joint>



  <link name="protection_hull_link">
		<visual>
			<geometry>
				<mesh filename="$(find blimp_description)/meshes/docking/blimp_obsctacle_mesh.dae" scale="1 1 1" alpha="0.2" />
			</geometry>
		</visual>
	    <inertial>
			<mass value = "0.01"/>
	      <inertia ixx="0.0004" ixy="0" ixz="0" iyy="0.0004" iyz="0" izz="0.0004"/>
	    </inertial>
	</link>

  <joint name="protection_hull_joint" type="revolute">
	   <parent link="approach_target_link"/>
	   <child link="protection_hull_link"/>
       <origin xyz="0 0 0" rpy="0 0 0"/>
       <limit effort="0" velocity="0" lower="0" upper="0"/> 
	</joint>


<link name="led_link_0"></link>
<link name="led_link_1"></link>
<link name="led_link_2"></link>
<link name="led_link_3"></link>
<link name="led_link_4"></link>

<joint name="led_joint_0" type="fixed"> <origin xyz="0 0 0" rpy="0 0 0"/> <parent link="docking_port_link"/> <child link="led_link_0"/> </joint>
<joint name="led_joint_1" type="fixed"> <origin xyz="0 0 0" rpy="0 0 0"/> <parent link="docking_port_link"/> <child link="led_link_1"/> </joint>
<joint name="led_joint_2" type="fixed"> <origin xyz="0 0 0" rpy="0 0 0"/> <parent link="docking_port_link"/> <child link="led_link_2"/> </joint>
<joint name="led_joint_3" type="fixed"> <origin xyz="0 0 0" rpy="0 0 0"/> <parent link="docking_port_link"/> <child link="led_link_3"/> </joint>
<joint name="led_joint_4" type="fixed"> <origin xyz="0 0 0" rpy="0 0 0"/> <parent link="docking_port_link"/> <child link="led_link_4"/> </joint>

<!-- Individual Visuals & Light Definitions -->
<gazebo reference="led_link_0">
  <visual>
    <material>
      <ambient>0 0 0 1</ambient> <diffuse>0 0 0 1</diffuse> <specular>0 0 0 1</specular> <emissive>0 1 0 1</emissive>
    </material>
  </visual>
  <light name ='led_link_0/led' type = 'point'>
    <pose>0 0.5 -0.7 0 0 0</pose>
    <visualize>false</visualize>
  </light>
</gazebo>

<gazebo reference="led_link_1">
  <visual>
    <material>
      <ambient>0 0 0 1</ambient> <diffuse>0 0 0 1</diffuse> <specular>0 0 0 1</specular> <emissive>0 1 0 1</emissive>
    </material>
  </visual>
  <light name ='led_link_1/led' type = 'point'>
    <pose>0 -0.5 -0.7 0 0 0</pose>
    <visualize>false</visualize>
  </light>
</gazebo>

<gazebo reference="led_link_2">
  <visual>
    <material>
      <ambient>0 0 0 1</ambient> <diffuse>0 0 0 1</diffuse> <specular>0 0 0 1</specular> <emissive>0 1 0 1</emissive>
    </material>
  </visual>
  <light name ='led_link_2/led' type = 'point'>
    <pose>0.5 0 -0.7 0 0 0</pose>
    <visualize>false</visualize>
  </light>
</gazebo>

<gazebo reference="led_link_3">
  <visual>
    <material>
      <ambient>0 0 0 1</ambient> <diffuse>0 0 0 1</diffuse> <specular>0 0 0 1</specular> <emissive>0 1 0 1</emissive>
    </material>
  </visual>
  <light name ='led_link_3/led' type = 'point'>
    <pose>-0.5 0 -0.7 0 0 0</pose>
    <visualize>false</visualize>
  </light>
</gazebo>

<gazebo reference="led_link_4">
  <visual>
    <material>
      <ambient>0 0 0 1</ambient> <diffuse>0 0 0 1</diffuse> <specular>0 0 0 1</specular> <emissive>0 1 0 1</emissive>
    </material>
  </visual>
  <light name ='led_link_4/led' type = 'point'>
    <pose>0 0 -0.7 0 0 0</pose>
    <visualize>false</visualize>
  </light>
</gazebo>

<!-- Consolidated Plugin (Attached to parent or main link) -->
<gazebo reference="docking_port_link">
  <plugin name='light_control' filename='libFlashLightPlugin.so'>
    <enable>true</enable>
    
    <light>
      <id>led_link_0/led</id>
      <duration>0.3</duration> <interval>0.4</interval> <color>0.1 1 0.1</color> <enable>true</enable>
    </light>
    <light>
      <id>led_link_1/led</id>
      <duration>0.3</duration> <interval>0.4</interval> <color>0.1 1 0.1</color> <enable>true</enable>
    </light>
    <light>
      <id>led_link_2/led</id>
      <duration>0.3</duration> <interval>0.4</interval> <color>0.1 1 0.1</color> <enable>true</enable>
    </light>
    <light>
      <id>led_link_3/led</id>
      <duration>0.3</duration> <interval>0.4</interval> <color>0.1 1 0.1</color> <enable>true</enable>
    </light>
    <light>
      <id>led_link_4/led</id>
      <duration>0.3</duration> <interval>0.4</interval> <color>0.1 1 0.1</color> <enable>true</enable>
    </light>
    
  </plugin>
</gazebo>





</robot>