<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="spring"
	params="robot_namespace link_name parent strength_factor:=1.0 yaw_factor:=10.0 roll_factor:=1.0 pitch_factor:=5.0 *origin">
            <link name="${link_name}_link0">
			<inertial>
				<mass value="0.0001"/><!-- MUST be non zero or the link will be pruned by gazebo and can not accept any forces -->
				<inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" />
			</inertial>
            </link>
            <link name="${link_name}_link1">
			<inertial>
				<mass value="0.0001"/><!-- MUST be non zero or the link will be pruned by gazebo and can not accept any forces -->
				<inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" />
			</inertial>
            </link>
            <link name="${link_name}_link">
			<inertial>
				<mass value="0.0001"/><!-- MUST be non zero or the link will be pruned by gazebo and can not accept any forces -->
				<inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" />
			</inertial>
			<visual>
				<geometry>
					<cylinder radius="0.01" length="0.3"/>
				</geometry>
			</visual>
            </link>
	    <joint name="${robot_namespace}/${link_name}_link_joint0" type="revolute">
                <xacro:insert_block name="origin" />
                <axis xyz="1.0 0.0 0.0" />
                <parent link="${parent}" />
                <child link="${link_name}_link0" />
                <limit effort="-1" velocity="-1" lower="0" upper="0"/>
                <dynamics damping="${flex_joint_flexibility_damping}" friction="${flex_joint_flexibility_friction}"/>
            </joint>
	    <joint name="${robot_namespace}/${link_name}_link_joint1" type="revolute">
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <axis xyz="0.0 1.0 0.0" />
                <parent link="${link_name}_link0" />
                <child link="${link_name}_link1" />
                <limit effort="-1" velocity="-1" lower="0" upper="0"/>
                <dynamics damping="${flex_joint_flexibility_damping}" friction="${flex_joint_flexibility_friction}"/>
            </joint>
            <joint name="${robot_namespace}/${link_name}_link_joint" type="revolute">
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <axis xyz="0.0 0.0 1.0" />
                <parent link="${link_name}_link1" />
                <child link="${link_name}_link" />
                <limit effort="-1" velocity="-1" lower="0" upper="0"/>
                <dynamics damping="${flex_joint_flexibility_damping}" friction="${flex_joint_flexibility_friction}"/>
            </joint>
            <gazebo reference="${robot_namespace}/${link_name}_link_joint0">
                <stopCfm>${flex_joint_flexibility_factor / (strength_factor*roll_factor)}</stopCfm>
                <stopErp>0.2</stopErp>
            </gazebo>
            <gazebo reference="${robot_namespace}/${link_name}_link_joint1">
                <stopCfm>${flex_joint_flexibility_factor / (strength_factor*pitch_factor)}</stopCfm>
                <stopErp>0.2</stopErp>
            </gazebo>
            <gazebo reference="${robot_namespace}/${link_name}_link_joint">
                <stopCfm>${flex_joint_flexibility_factor / (strength_factor*yaw_factor)}</stopCfm>
                <stopErp>0.2</stopErp>
            </gazebo>
	</xacro:macro>



	<xacro:macro name="box_model"
	params="robot_namespace link_name mass body_length body_width body_height use_mesh_file mesh_file activate_collision *origin *inertia">
		<link name="${link_name}_link">
			<inertial>
				<mass value="${mass}"/>
				<xacro:insert_block name="origin" />
				<xacro:insert_block name="inertia" />
			</inertial>

			<xacro:if value="${activate_collision}">
				<collision>
					<xacro:insert_block name="origin" />
					<geometry>
						<xacro:if value="${use_mesh_file}">
							<mesh filename="${mesh_file}" scale="1 1 1" />
						</xacro:if>
						<xacro:unless value="${use_mesh_file}">
							<box size="${body_length} ${body_width} ${body_height}"/>
						</xacro:unless>
					</geometry>
				</collision>
			</xacro:if>
			
			<visual>
				<xacro:insert_block name="origin" />
				<geometry>
					<xacro:if value="${use_mesh_file}">
						<mesh filename="${mesh_file}" scale="1 1 1" />
					</xacro:if>
					<xacro:unless value="${use_mesh_file}">
						<box size="${body_length} ${body_width} ${body_height}"/>
					</xacro:unless>
				</geometry>
			</visual>
		</link>
		<gazebo reference="${link_name}_link">
			<kp>1000000.0</kp>
			<kd>1000000.0</kd>
			<mu1>10.0</mu1>
			<mu2>10.0</mu2>
    		</gazebo>
	</xacro:macro>

	<xacro:macro name="cylinder_model"
	params="robot_namespace link_name mass body_radius body_length use_mesh_file mesh_file activate_collision *origin *inertia">
		<link name="${link_name}_link">
			<inertial>
				<mass value="${mass}"/>
				<xacro:insert_block name="origin" />
				<xacro:insert_block name="inertia" />
			</inertial>
			<xacro:if value="${activate_collision}">

				<collision>
					<xacro:insert_block name="origin" />
					<geometry>
						<xacro:if value="${use_mesh_file}">
							<mesh filename="${mesh_file}" scale="1 1 1" />
						</xacro:if>
						<xacro:unless value="${use_mesh_file}">
							<cylinder length="${body_length}" radius="${body_radius}"/> <!-- [m] [m] [m] -->
						</xacro:unless>
					</geometry>
				</collision>
			</xacro:if>

			<visual>
				<xacro:insert_block name="origin" />
				<geometry>
					<xacro:if value="${use_mesh_file}">
						<mesh filename="${mesh_file}" scale="1 1 1" />
					</xacro:if>
					<xacro:unless value="${use_mesh_file}">
						<cylinder length="${body_length}" radius="${body_radius}"/> <!-- [m] [m] [m] -->
					</xacro:unless>
				</geometry>
			</visual>
		</link>
		<gazebo reference="${link_name}_link">
			<kp>1000000.0</kp>
			<kd>1000000.0</kd>
			<mu1>10.0</mu1>
			<mu2>10.0</mu2>
    		</gazebo>
	</xacro:macro>
</robot>
