<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<!-- Macro to add the controller interface. -->
	<xacro:macro name="controller_plugin_macro" params="namespace imu_sub_topic">
		<gazebo>
			<plugin name="controller_interface" filename="librotors_gazebo_controller_interface.so">
				<robotNamespace>${namespace}</robotNamespace>
				<commandAttitudeThrustSubTopic>command/attitude</commandAttitudeThrustSubTopic>
				<commandRateThrustSubTopic>command/rate</commandRateThrustSubTopic>
				<commandMotorSpeedSubTopic>command/motor_speed</commandMotorSpeedSubTopic>
				<imuSubTopic>${imu_sub_topic}</imuSubTopic>
				<motorSpeedCommandPubTopic>gazebo/command/motor_speed</motorSpeedCommandPubTopic>
			</plugin>
		</gazebo>
	</xacro:macro>

	<!-- Macro to spawn left and right blades. -->
	<xacro:macro name="rotor_macro"
		params="robot_namespace joint_name link_name direction motor_constant moment_constant time_constant_up time_constant_down max_rot_velocity motor_number rotor_drag_coefficient rolling_moment_coefficient">
		<gazebo>
			<plugin name="${link_name}_motor_model" filename="librotors_gazebo_motor_model.so">
				<robotNamespace>${robot_namespace}</robotNamespace>
				<jointName>${joint_name}</jointName>
				<linkName>${link_name}</linkName>
				<turningDirection>${direction}</turningDirection>
				<timeConstantUp>${time_constant_up}</timeConstantUp>
				<timeConstantDown>${time_constant_down}</timeConstantDown>
				<maxRotVelocity>${max_rot_velocity}</maxRotVelocity>
				<motorConstant>${motor_constant}</motorConstant>
				<momentConstant>${moment_constant}</momentConstant>
				<commandSubTopic>gazebo/command/motor_speed</commandSubTopic>
				<motorNumber>${motor_number}</motorNumber>
				<rotorDragCoefficient>${rotor_drag_coefficient}</rotorDragCoefficient>
				<rollingMomentCoefficient>${rolling_moment_coefficient}</rollingMomentCoefficient>
				<motorSpeedPubTopic>motor_speed/${motor_number}</motorSpeedPubTopic>
				<rotorVelocitySlowdownSim>${rotor_velocity_slowdown_sim}</rotorVelocitySlowdownSim>
			</plugin>
		</gazebo>
	</xacro:macro>

	<!-- Macro to add fin controllers. -->
	<xacro:macro name="transmission_macro"
		params="namespace joint_name trans_name actuator_name ">
		<transmission name="${trans_name}">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${joint_name}">
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			</joint>
			<actuator name="${actuator_name}">
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>
	</xacro:macro>

	<!-- Macro to add Mavlink interface -->
	<xacro:macro name="default_mavlink_interface" params="namespace imu_sub_topic rotor_count">
		<xacro:mavlink_interface_macro
			namespace="${namespace}"
			mavlink_sub_topic="/mavlink/from"
			imu_sub_topic="${imu_sub_topic}"
			mavlink_pub_topic="/mavlink/to"
			motors_speeds_pub_topic="gazebo/command/motor_speed"
			gps_update_freq="5.0"
			rotor_count="${rotor_count}"
			reference_magnetic_field_north="0.21475"
			reference_magnetic_field_east="0.00797"
			reference_magnetic_field_down="0.42817"
			reference_latitude="47.3667"
			reference_longitude="8.5500"
			reference_altitude="500.0">
		</xacro:mavlink_interface_macro>
	</xacro:macro>
	<xacro:macro name="mavlink_interface_macro" 
		params="namespace mavlink_sub_topic imu_sub_topic mavlink_pub_topic 
		motors_speeds_pub_topic gps_update_freq rotor_count reference_magnetic_field_north 
		reference_magnetic_field_east reference_magnetic_field_down reference_latitude 
		reference_longitude reference_altitude">
		<gazebo>
			<plugin name="mavlink_interface" filename="librotors_gazebo_mavlink_interface.so">
				<robotNamespace>${namespace}</robotNamespace>
				<mavlinkControlSubTopic>${mavlink_sub_topic}</mavlinkControlSubTopic>
				<imuSubTopic>${imu_sub_topic}</imuSubTopic>
				<mavlinkHilSensorPubTopic>${mavlink_pub_topic}</mavlinkHilSensorPubTopic>
				<motorSpeedsPubTopic>${motors_speeds_pub_topic}</motorSpeedsPubTopic>
				<gpsUpdateFreq>${gps_update_freq}</gpsUpdateFreq> <!-- Frequency of HIL GPS messages [Hz] -->
				<rotorCount>${rotor_count}</rotorCount>
				<!-- [Gauss] Below are the North, East, and Down components of the Earth's magnetic field at the reference location.
				The default reference location is Zurich (lat=+47.3667degN, lon=+8.5500degE, h=+500m, WGS84).
				You can obtain the magnetic field strength for your location using the World Magnetic Model: 
				https://www.ngdc.noaa.gov/geomag/WMM/calculators.shtml -->
				<referenceMagNorth>${reference_magnetic_field_north}</referenceMagNorth>
				<referenceMagEast>${reference_magnetic_field_east}</referenceMagEast>
				<referenceMagDown>${reference_magnetic_field_down}</referenceMagDown>
				<referenceLatitude>${reference_latitude}</referenceLatitude> <!-- the initial latitude [degrees [-90, 90]] -->
				<referenceLongitude>${reference_longitude}</referenceLongitude> <!-- the initial longitude [degrees [-180, 180]] -->
				<referenceAltitude>${reference_altitude}</referenceAltitude> <!-- the initial altitude [m] -->
			</plugin>
		</gazebo>
	</xacro:macro>

</robot>
