[submodule "LibrePilot"]
	path = LibrePilot
	url = https://github.tik.uni-stuttgart.de/gs106913/librepilot-mpg.git
	branch = airship_control_noetic
[submodule "rotors_simulator"]
	path = rotors_simulator
	url = https://github.com/robot-perception-group/rotors_simulator.git
	branch = aircap_noetic_fixes
