[submodule "rotors_simulator"]
	path = rotors_simulator
	url = https://github.com/aamirahmad/rotors_simulator.git
[submodule "LibrePilot"]
	path = LibrePilot
	url = https://github.com/robot-perception-group/LibrePilot.git
	branch = airship_control
