<?xml version="1.0"?>
<launch>
	<!--********** arg **********-->
	<arg name="uav_name" default="blimp"/>
	<arg name="roboID" default="0"/>

	<arg name="is_input_joystick" default="false"/>
	<arg name="enable_meshes" default="true"/>
	<arg name="enable_wind" default="false"/>
	<arg name="enable_physics" default="true"/>
	<arg name="enable_sensors" default="true"/>
	<arg name="enable_logging" default="false" />
	<arg name="enable_ground_truth" default="true" />
	<arg name="enable_mavlink_interface" default="false"/>

	<arg name="world_name" default="basic"/>
	<arg name="debug" default="false"/>
	<arg name="gui" default="true"/>
	<arg name="paused" default="false"/>
	<arg name="log_file" default="$(arg uav_name)"/>
	<arg name="wait_to_record_bag" default="false"/>
	<arg name="verbose" default="true"/>
	<arg name="rvizconfig" default="$(find blimp_description)/rviz/blimp.rviz" />

	<arg name="X" default="0.0"/>
	<arg name="Y" default="0.0"/>
	<arg name="Z" default="1.0"/>

	<!--********** load env **********-->
 	<env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models"/>
  	<env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/models"/>
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find blimp_description)/worlds/$(arg world_name).world" />
		<arg name="debug" value="$(arg debug)" />
		<arg name="paused" value="$(arg paused)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="verbose" value="$(arg verbose)"/>
	</include> 

	<include file="$(find blimp_description)/launch/blimp_only_gcshitl.launch">
		<arg name="uav_name" value="$( arg uav_name )"/>
		<arg name="roboID" value="$( arg roboID )"/>

		<arg name="is_input_joystick" value="$( arg is_input_joystick )"/>
		<arg name="enable_meshes" value="$( arg enable_meshes )"/>
		<arg name="enable_wind" value="$( arg enable_wind )"/>
		<arg name="enable_physics" value="$( arg enable_physics )"/>
		<arg name="enable_sensors" value="$( arg enable_sensors )"/>
		<arg name="enable_logging" value="$( arg enable_logging )" />
		<arg name="enable_ground_truth" value="$( arg enable_ground_truth )" />
		<arg name="enable_mavlink_interface" value="$( arg enable_mavlink_interface )"/>

		<arg name="world_name" value="$( arg world_name )"/>
		<arg name="debug" value="$( arg debug )"/>
		<arg name="gui" value="$( arg gui )"/>
		<arg name="paused" value="$( arg paused )"/>
		<arg name="log_file" value="$( arg log_file )"/>
		<arg name="wait_to_record_bag" value="$( arg wait_to_record_bag )"/>
		<arg name="verbose" value="$( arg verbose )"/>
		<arg name="rvizconfig" value="$( arg rvizconfig )" />

		<arg name="X" value="$( arg X )"/>
		<arg name="Y" value="$( arg Y )"/>
		<arg name="Z" value="$( arg Z )"/>
	</include>
</launch>


